.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #112233;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    font-size: 2.5em;
    color: #ffcc00;
    margin-bottom: 20px;
  }
  
  .masters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .master {
    min-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    width: 200px;
    text-align: center;
  }
  
  .master-photo {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  
  .master-name {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .master-handle, .master-roll {
    margin: 5px 0;
  }
  
  .master-linkedin {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0077b5;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .master-linkedin:hover {
    background-color: #005582;
  }
  