@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 14px;
  color: white
}

body{
  background: linear-gradient(to bottom, #022641, #010f1a);
  padding-top: 80px;
}


a {
  text-decoration: none;
  color: inherit;
}

.pages {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 80px;
}

.listing {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #112233;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.listing h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.details-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #ffffff;
}

span {
  display: block;
  padding: 8px;
  background-color: #ffffff33;
  border-radius: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button {
  flex: 1;
  padding: 10px;
  background-color: #74c19e;
  color: #112233;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5cd4a8;
}

.button:active {
  transform: translateY(1px);
}

.input-field {
  background-color: #ffffff33;
  color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border-color: #71f6ba;
}

.option-button-group {
  max-width: 600px;
  margin: 0 auto;
}

.option-button-large {
  margin: 0 auto;
}

.option-button {
  flex: 1;
  background-color: #112233;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0;
}

.option-button:hover {
  background-color: #334455;
}

.option-button.active {
  background-color: #334455;
  border: 1px solid #b3ffb3;
  border-radius: 5px;
}

.option-button-group-large {
  max-width: 100%
}

.error {
  color: #ffb3b3;
  background-color: #2a1a1a;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ffb3b3;
}

.success {
  color: #b3ffb3;
  background-color: #1a2a1a;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #b3ffb3;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #71f6ba;
  border-color: #71f6ba transparent #71f6ba transparent;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}